.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.grid {
  display: flex;
  justify-content: space-evenly;
}

.nodes {
  /* background-color: blue; */
  /* width: 10px;
  height: 10px; */
}

.actual-node{
  width:20px;
  height:20px;
  background-color: red;
  padding-bottom:1px;
  border: 1px solid black;
}